<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Hexplode</title>
		<link href="/stylesheets/hexagon.css" rel="stylesheet">
        
		<style type="text/css">
		body {
			background-image: url(/images/explosion2.jpg);
			background-repeat: repeat;
		}
        </style>
	</head>

	<body>
		<audio id="explosion" src="/sound/explosion.mp3" preload="auto"></audio>
		<audio id="win" src="/sound/win.mp3" preload="auto"></audio>
		<audio id="lose" src="/sound/lose.mp3" preload="auto"></audio>

		<font size="36">
			<b>
				<p style="color:white; display: block; float:right; margin-right:30px;">
					<span>Turn: </span><span id="currTurn"></span>,
					<span>Player </span><span id="currPlayer"></span>
					<canvas id="currColor" style="background-color:#ffbb00; height:35px; width:35px;"></canvas>
				</p>
			</b>
		</font>
		<div id="map" class="noselect">
		</div>

	</body>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/javascripts/wssend.js"></script>
	<script src="/javascripts/check.js"></script>
	<script src="/javascripts/mapGenerator.js"></script>
	<script src="/javascripts/wsget.js"></script>
</html>
